.env
.env.*

__pycache__/
**/__pycache__/
*.pyc
faiss_index/*
!faiss_index/.gitkeep
outputs/*
!outputs/.gitkeep
data/*.pdf

# OS
.DS_Store

# Virtual environments
venv/
.venv/
pyproject.toml
uv.lock

# Editor
.vscode/

# Python
.python-version


